.container {
  height: 100vh;
  background-color: white;
}
.reliable {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 1;
  color: darkgrey;
  margin-top: 0px;
  text-align: center;
  margin-top: 15px;
}
.powered {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  margin-top: 5px;

  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.para {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  color: darkgray;
  font-size: 15px;
  text-align: center;
  margin-top: 4px;
}
.cell {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  margin-top: 100px;
  height: 500px;
  position: absolute;

  gap: 20px;
}
.teambuilder {
  grid-column: 3 / span 2;
  grid-row: span 2;
  background-color: aqua;
  padding: 20px;
}
.supervisor {
  grid-row: 2 / span 2;
  grid-column: span 2;
  background-color: red;
  padding: 20px;
}
.karma {
  grid-row: 3 / span 2;
  grid-column: span 2;
  background-color: snow;
  padding: 20px;
}

.calculator {
  grid-column: span 2;
  grid-row: 2 / span 2;
  background-color: blue;
  padding: 20px;
}
h5 {
  margin: auto auto;
}
.logo {
  position: relative;
  margin-right: 0px;
  margin-bottom: 0px;
}
